@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary:#072951;
  }
}

.custom-border {
  border-image-source: linear-gradient(180deg, #FF9900 0%, #072951 100%);
  border-image-slice: 1;
  border-radius: 1rem;
}

